.galeria{
    width: 40%;
    height: 40%;
    text-align: center;
    margin: auto;

}
img{
    height: 50%;
    width: 50%;
    
}
.botones{
    font-size:30px;
    width: 50px;
    height: 50px;
    line-height: normal;
    border-radius: 20%;
    background-color:whitesmoke;    
    text-align: center;
    font-weight: bold;
    color:black;
    padding:3px;
}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.AD{
    float:left;
    top: calc(50%-70px);
}
.AT{
    float:right;
    top: calc(50%-70px);
}