.leaflet-container{
    height: 500px;
    width: 100%;

}
.img-ts{
    width: 90px;
    height: 50px;
    border: 0px;
}
.img-tsa{
    width: 1000px;
    height: 5px;
    border: 0px;
}
.map {
  width: 60%;
  height:400px;
}
h1{
    font-size: 60px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-tsb{
    margin-top: 40px;
    margin-left: 50px;
    width: 350px;
    height: 250px;
}
p {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 10px;

}